<ion-header>
  <ion-toolbar color="vermelhinho">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tradições</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="tradicoes">

    <h2>Grecane</h2>
    <img src="assets/grecane.jpg" alt="Grupo folclórico de Castelo do Neiva" />
    <p>
      O Grecane, Grupo Recreativo e Cultural de Castelo do Neiva, é a maior associação local que continua a promover as tradições de Castelo do Neiva, para alé de criar eventos 
      para toda a comunidade, dentro do Grecane existem dois grupos, o Grupo folclorico de Castelo do Neiva e o Grupo de Bombos "Os Trambolhões". É comum ver as suas atuações em 
      festas populares, romarias e eventos culturais locais, e até mesmo internacionais.
    </p>
    <p>
      Podes saber mais sobre o Grecane na sua página do
      <a href="https://www.facebook.com/GRECANE77/" target="_blank" rel="noopener noreferrer">
        Facebook
      </a>.
    </p>
    

    <h2>Tradição da Ida à Pesca</h2>
    <img src="assets/pesca.png" alt="Pescadores em Castelo do Neiva" />
    <p>
      A ida à pesca é uma prática com raízes profundas na comunidade. Muitos habitantes ainda hoje mantêm esta tradição, quer como profissão, quer como herança familiar. 
      Ao amanhecer, é comum ver embarcações a chegar à costa depois de terem saido para o mar durante a madrugada.
    </p>

  </div>
</ion-content>
