<ion-header>
  <ion-toolbar color="vermelhinho">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Gastronomia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="gastronomia">

    <p>
      Castelo do Neiva é bastante famoso pela sua gastronomia ligada ao mar, tendo como grande ponto forte a frescura de todos os seus alimentos, pois muito do que é pescado vai direto para o restaurante.
    </p>

    <p>
      Os restaurantes mais conhecidos são o <strong>Pedra Alta</strong>, a <strong>Taberna da Laurinda</strong>, o <strong>Segredos do Mar</strong> e a <strong>Sede Castelense</strong>, ficando todos perto do mar, o que ajuda muito para um ambiente mais conectado à natureza.
    </p>

    <h2 class="map-title">Localização dos Restaurantes</h2>
<iframe
  src="https://www.google.com/maps/d/u/0/embed?mid=1n6UOBF_U3-FJ_A8RH7RGOXTnkvPe7qo&ehbc=2E312F"
  class="map-iframe"
  allowfullscreen=""
  loading="lazy">
</iframe>

    <p>
      Os pratos mais conhecidos e mais bem falados por toda a comunidade são a <strong>Mariscada</strong> e o <strong>Arroz de Marisco</strong>:
    </p>

    <div class="prato">
      <img src="assets/mariscada.png" alt="Foto da Mariscada" />
      <h3>Mariscada</h3>
      <p>
        Uma travessa recheada de mariscos frescos da costa camarão, sapateira, lavagante, mexilhão, entre outros servidos de forma tradicional e com o sabor autêntico do mar.
      </p>
    </div>

    <div class="prato">
      <img src="assets/arroz.png" alt="Foto do Arroz de Marisco" />
      <h3>Arroz de Marisco</h3>
      <p>
        Um prato malandrinho, cheio de sabor e marisco. Feito com camarão, berbigão e um caldo de tomate aromático, é presença obrigatória nas mesas locais.
      </p>
    </div>

  </div>

</ion-content>
