<ion-header>
  <ion-toolbar color="vermelhinho">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Celebridades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="celebridade">

    <p>
      Apesar de ser uma vila de aproximadamente 2800 habitantes, existe uma pessoa que é bastante famosa e que nasceu em Castelo do Neiva. 
      Essa pessoa chama-se <strong>Miguel Crespo</strong>.
    </p>

    <img src="assets/miguel_crespo.jpg" alt="Foto do Miguel Crespo" />

    <p>
      Apesar de ter nascido em Lyon por os seus pais serem emigrantes, veio para Castelo do Neiva muito novo onde cresceu e se tornou em um grande futebolista. 
      Teve o seu maior sucesso a jogar pelo <strong>Estoril Praia</strong> onde ganhou a Segunda Liga Portuguesa e o prémio de Melhor Jogador da Liga na época 2020/21.
    </p>

    <img src="assets/trofeu.png" alt="Miguel Crespo com troféu" />

    <p>
      Depois desse sucesso todo foi jogar para o gigante da Turquia, o <strong>Fenerbahçe</strong>, na época 2021/22.
    </p>

    <img src="assets/fener.jpg" alt="Miguel Crespo no Fenerbahçe" />

    <p>
      Atualmente ainda está na Turquia mas agora a jogar pelo <strong>Basaksehir</strong>.
    </p>

    <img src="assets/baskeshir.jpeg" alt="Miguel Crespo no Basaksehir" />

    <p>
      Podes ver 
      <a href="https://www.youtube.com/watch?v=K-OIrqH_BSw" target="_blank" rel="noopener noreferrer">
      aqui
      </a>
      uns dos seus melhores momentos.
    </p>
   
  </div>
</ion-content>
