<ion-header>
  <ion-toolbar color="vermelhinho">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Desporto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="desporto">

    <p>
      Castelo do Neiva está envolvido com o desporto de várias formas, sendo a mais importante o <strong>Grupo Desportivo Castelense</strong>.
    </p>

    <img src="assets/castelense.png" alt="Logo do Grupo Desportivo Castelense" />

    <p>
      Dentro do grupo existem as academias de atletismo, futebol entre outras. A academia de futebol tem a sua casa junto ao mar com o <strong>Campo Beira Mar</strong>.
    </p>

    <img src="assets/campo.png" alt="Campo Beira Mar" />

    <p>
      A academia de futebol, desde que foi criada e se juntou à 1ª Divisão Regional de Viana do Castelo, foi campeã em duas épocas: <strong>2004/05</strong> e <strong>2006/07</strong>.
    </p>

    <p>
      Para além do Grupo Desportivo Castelense, como é uma vila à beira-mar, existe um percurso de <strong>passadiços</strong> que percorrem a costa. Esses passadiços permitem atravessar para a freguesia vizinha, Antas, através de uma ponte pedonal que passa sobre o <strong>Rio Neiva</strong>.
    </p>

    <img src="assets/ponte.png" alt="Ponte sobre o Rio Neiva" />

  </div>
</ion-content>
