.menu-title {
  margin-left: 16px;
  font-size: 20px;
}

ion-item.active {
  --background: var(--ion-color-vermelhinho);
  --color: var(--ion-color-vermelhinho-contrast);
  font-weight: bold;
}
  
  ion-item {
    font-weight: 500;
  }
  