<ion-header>
  <ion-toolbar color="vermelhinho">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Castelo do Neiva</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <div class="intro">
    <img src="assets/logo_castelo.jpg" alt="Logo de Castelo do Neiva" />
    <h1>Vem descobrir mais sobre a minha terra natal</h1>

    <p class="frase-impacto">
      “Localidade à beira-mar com séculos de história e cultura viva.”
    </p>

    <p class="descricao">
      Castelo do Neiva é uma freguesia do concelho de Viana do Castelo, situada entre o mar e o rio. Rica em tradições, paisagens e um povo acolhedor.
    </p>

    <ion-button expand="block" (click)="abrirMenu()" color="vermelhinho">
      Descobre mais sobre Castelo do Neiva
    </ion-button>    

    
  </div>
</ion-content>
